@font-face {
    font-family: 'MetaPro';
    src: url('fonts-dist/MetaPro-Light.woff2') format('woff2'),
    url('fonts-dist/MetaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MetaPro';
    src: url('fonts-dist/MetaPro-Bold.woff2') format('woff2'),
    url('fonts-dist/MetaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lack';
    src: url('fonts-dist/Lack-Regular.woff2') format('woff2'),
    url('fonts-dist/Lack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

