@font-face {
    font-family: 'Extatica';
    src: url('Extatica-Light.woff2') format('woff2'),
        url('Extatica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atyp Regular Variable';
    src: url('AtypRegularVariable.woff2') format('woff2'),
        url('AtypRegularVariable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

